<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="SportsContext"
         connectionString="Server=b69a12e2-6d72-4049-91ff-a60e00a4493e.sqlserver.sequelizer.com;Database=dbb69a12e26d72404991ffa60e00a4493e;User ID=ieysfrzmqwkmclrb;Password=XAom5GCcBKNbMfynSVCKyWLVzo22GjPyJAe2w8HUN4oKb4XFCkUs6eMbWzUQPKCs;MultipleActiveResultSets=True;Asynchronous Processing=True;" 
         providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" 
         connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=SportsContext;Integrated Security=True;Connect Timeout=15;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>